* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#calculator {
    border: 5px solid;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    background-color: aliceblue;
}

#display {
    border: solid;
    border-radius: 5px;
    width: 85%;
    height: 50px;
    margin: 40px auto;
    padding: 5px;
    text-align: right;
    font-size: 30px;
    letter-spacing: 5px;
    background-color: rgb(222, 234, 222);
}

#container-buttons {
    text-align: center;
    padding-bottom: 40px;
}

.button {
    width: 70px;
    height: 60px;
    margin: 5px;
    font-weight: bold;
    font-size: 30px;
    border: 0.8px solid;
    border-radius: 5px;
}

.math {
    background-color: rgb(196, 190, 190);
}

.general {
    background-color: gray;
    color: white;
}

.right {
    margin-left: 258px;
}